# Dependências do Node.js (MUITO IMPORTANTE)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente e credenciais sensíveis (MUITO IMPORTANTE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do sistema operacional (macOS / Windows)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Configurações do VS Code e editores
.vscode/
.idea/

# Arquivos de logs e temporários
*.log
logs/
*.sys